openapi: 3.1.0
info:
  title: OneCLI Agent Setup Organization Settings API
  version: '1.0'
  description: 'The OneCLI API lets you manage agents, secrets, policy rules, app connections, and user settings programmatically.


    **Base URL:** `https://api.onecli.sh/v1` (Cloud) or `http://localhost:10254/v1` (self-hosted)


    ## Authentication


    All endpoints require authentication via one of:


    - **API Key** — `Authorization: Bearer <key>` header. Generate keys in the dashboard or via `GET /v1/user/api-key`.

    - **Session** — Cookie-based session from the web dashboard.


    For organization-scoped API keys, include the `X-Project-Id` header to specify which project to operate on.

    '
servers:
- url: https://api.onecli.sh/v1
  description: OneCLI Cloud
- url: http://localhost:10254/v1
  description: Self-hosted (Docker)
security:
- bearerAuth: []
tags:
- name: Organization Settings
  description: Organization-wide policy settings. Available on OneCLI Cloud and self-hosted Enterprise.
paths:
  /org/settings:
    get:
      operationId: getOrgSettings
      summary: Get organization settings
      description: Returns the organization's settings. Requires admin role. Available on OneCLI Cloud and self-hosted Enterprise.
      tags:
      - Organization Settings
      responses:
        '200':
          description: Organization settings
          content:
            application/json:
              schema:
                type: object
                properties:
                  policyMode:
                    type: string
                    enum:
                    - allow
                    - deny
                    description: '`allow` — default-allow: requests pass unless a rule blocks them. `deny` — lockdown default-deny: requests are blocked unless a rule allows them.'
    patch:
      operationId: updateOrgSettings
      summary: Update organization settings
      description: Updates the organization's policy mode. Requires admin role. Available on OneCLI Cloud and self-hosted Enterprise.
      tags:
      - Organization Settings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - policyMode
              properties:
                policyMode:
                  type: string
                  enum:
                  - allow
                  - deny
      responses:
        '200':
          description: Settings updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  policyMode:
                    type: string
                    enum:
                    - allow
                    - deny
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      description: 'Error responses take one of two shapes depending on the failing layer:

        route-level validation returns the flat shape (`{ "error": "..." }`),

        while authentication failures (401/403) and service errors (not-found,

        conflict, and service-level validation) return the envelope

        (`{ "error": { "message": "...", "type": "..." } }`).

        '
      oneOf:
      - $ref: '#/components/schemas/ErrorFlat'
      - $ref: '#/components/schemas/ErrorEnvelope'
    ErrorEnvelope:
      type: object
      description: Envelope error shape used for authentication failures and service errors.
      properties:
        error:
          type: object
          properties:
            message:
              type: string
            type:
              type: string
              description: Error category (e.g. `authentication_error`).
    ErrorFlat:
      type: object
      description: Flat error shape used by route-level validation.
      properties:
        error:
          type: string
      required:
      - error
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key obtained from the dashboard or `GET /user/api-key`
